.albumButton {
    border-radius: 25px;
    margin: 0.5em;
    width: 270px;
    height: 420px;
    background-color: #FFFFF0;
    border: #FFFFF0;
    box-shadow: 0px 2px 8px 1px black;
    color: black;
}

.albumButton:hover {
    box-shadow: 0px 2px 12px 2px black;
}

.albumContainer {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 320px;
    margin: auto;
}

.albumCover {
    border-radius: 100%;
    width: 75%;
    margin: 4px auto 4px auto;
}

.albumButton:hover .albumCover {
    box-shadow: 0px 0px 8px 1px #888888;
}

.shortTitle {
    font-size: 2em;
    font-weight: bolder;
    margin: 0 0 4px 0;
}

.longTitle {
    font-size: 1.4em;
    font-weight: bolder;
    margin: 2px 0 9px 0;
}

.albumArtistCard {
    font-size: 1.5em;
    font-weight: bolder;
    color: darkslategray;
    margin: 0 0 8px 0;
}

.genresContainer {
    margin-top: 6px;
}

.genreTag {
    padding: 0.6em;
    margin: 0.2em;
    border-radius: 1em;
    font-weight: bold;
}

@media screen and (max-width: 920px) {
    .albumButton {
        width: 95vw;
        height: 330px;
        border-radius: 25px;
    }

    .albumContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 480px;
        height: 320px;
    }

    .albumCover {
        flex: 1;
        width: 100%;
        border-radius: 100%;
    }

    .albumInfo {
        flex: 1;
        flex-direction: column;
        align-items: center;
        min-width: 60%;
    }
}